@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



.gold-smoke {
  box-shadow: 0 4px 20px rgba(212, 175, 55, 0.4),
              0 0 30px rgba(212, 175, 55, 0.15);
}
/* Urdu */
.urdu {
  font-family: "Noto Nastaliq Urdu", "Scheherazade", serif;
}

/* English headings */
.font-heading {
  font-family: "Playfair Display", serif;
}

/* Body text */
.font-body {
  font-family: "Inter", "Lato", sans-serif;
}
/* Add this in your global CSS */
.urdu-paragraph p {
  line-height: 2.6rem !important;
  margin-bottom: 1.5rem; /* Adds spacing between paragraphs */
}
@keyframes bouncePulse {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(0);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-5px);
    opacity: 0.7;
  }
}

.animate-bounce-pulse {
  animation: bouncePulse 2s infinite ease-in-out;
}
.lock-width {
  position: relative;
}
.lock-width::after {
  content: attr(data-text);
  font-weight: 700; /* Bold version */
  visibility: hidden;
  display: block;
  height: 0;
  overflow: hidden;
}
